[phases.setup]
nixpkgsArchive = "51ad838b03a05b1de6f9f2a0fffecee64a9788ee"

[phases.install]
cmds = ["npm install -g pnpm", "pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["npx prisma generate", "pnpm build"]

[start]
cmd = "npx prisma db push && npx prisma db seed && pnpm start"
