[phases.setup]
nixpkgsArchive = "a297b0e11eb66390f3ff55374c015ac77585836d"

[phases.install]
cmds = ["npm install -g pnpm", "pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["npx prisma generate", "pnpm build"]

[start]
cmd = "npx prisma db push && npx prisma db seed && pnpm start"
